---
BasedOnStyle: WebKit
SpaceInEmptyBlock: false
BreakBeforeBraces: Custom
AlignTrailingComments: true
AlignAfterOpenBracket: Align
BreakConstructorInitializers: AfterColon
ConstructorInitializerAllOnOneLineOrOnePerLine: false
NamespaceIndentation: Inner
...
